html, input, textarea, select, button {
    color: black !important;
    background-color: rgb(184, 51, 255) !important;
}

body {
    color: black !important;
    background-color: rgb(255, 51, 204) !important;
}