html, input, textarea, select, button {
    color: black !important;
    background-color: rgb(51,181,255) !important;
}

body {
    color: black !important;
    background-color: rgb(51,181,255) !important;
}